/*
blue       #48639C
seafoam    #B8FFF4
indigo     #4C4C9D
purple     #712F79
lavender   #976391
*/

body {
    background-color: #4C4C9D;
}

::selection {
    color: white;
    background-color: black;
}

#particles-js {
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(to bottom right, #4C4C9D, #B8FFF4);
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 5vw),
        0 100%
    );
}

#name-title {
    font-family: "Poppins", sans-serif;
    color: white;
    text-shadow: 4px 4px #4C4C9D;
    font-size: 150px;
    z-index: 9999;
    position:absolute;
    left: 130px;
    top: 90px;
}

ul {
    font-family: "Poppins", sans-serif;
    color: #4C4C9D;
    font-size: 45px;
    z-index: 9999;
    position:absolute;
    left: 100px;
    top: 340px;
    text-decoration: none;
}

li {
    display: inline;
    padding-right: 50px;
}

a:visited {
    color: #4C4C9D;
    text-decoration: none;
}

#fill-text {
    font-family: "Poppins", sans-serif;
    position:absolute;
    top: 130%;
    padding: 50px;
    font-size: 30px;
    color: white;
}

#email-me:hover {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background-color: #B8FFF4;
    border: none;
    padding: 15px;
    color: #4C4C9D;
    cursor: pointer;
}

#email-me {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: #4C4C9D;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
}


#lefter {
    padding-left: 10px;
}

#grid-holder {
    margin-top: 50px;
    display: grid;
    color: #4C4C9D;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 20px;
}

.topic {
    text-align: center;
}

a {
    text-decoration: none;
    color: #4C4C9D;
}

a:visited {
    text-decoration: none;
    color: #4C4C9D;
}

.topic > button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    background-image: linear-gradient(to bottom right, white, #B8FFF4);
    color: #4C4C9D;
    width: 100%;
    height: 100%;
    border: 3px solid #4C4C9D;
    padding: 50px;
    border-radius: 5px;
    transition: border 0.5s;
}

.topic > button:hover {
    border: 3px solid #B8FFF4;
}

#white {
    color: white;
}